.pic{
    height: 100px;
    border-radius: 20px;
    width: 120px;
}
.myTable{
    /* border: 2px solid; */
    width: 50%;
    margin: 0 auto;
    padding: 0 auto;
    position: relative;
}

.myTable table,th,td{
   border: 2px solid black;
   border-collapse: collapse;
}
.myTable table{
   float: none;
}

.fourth{
    margin-top: 20px;
    /* float: left; */
}

.fourth a{
    text-decoration: none;
    font: 100px;
    text-transform: capitalize;
    margin-right: 15px;
}

.fourth img{
    size: 30px;
    height: 70px;
    border-radius: 50px;
    border: 2px solid olive;
    padding-top: 4px;

}
#me{
    line-height: 100px;
}
.fifth{
    text-align: center;
    
}
.sixth ul{
    list-style-type: none;
    margirn:0;
    padding:0;
    overflow: hidden;
    background-color: #333;
}

.sixth ul li{
    float: left;
    /* margin-right: 10px;
    font-size: 20px;*/
} 

.sixth li a{
    text-decoration: none;
    padding: 14px 16px;
    color: white;
    display: block;

}

.seventh{
    /* float: left;
    height: 20px;
    width: 20px; */
}
.seventh img{
    float: left;
    height: 30px;
    width: 3;
}